/* Reset properties */
*,
*::before,
*::after {
    box-sizing: border-box;
}

body,
main,
h1, h2, h3,
p {
    margin: 0;
}

  
/* Custom Properties */
  :root {
    
    font-size: 10px;
    --fs-1-desk: 5.6rem;
    --fs-1-mobile: 4.0rem;
    --fs-p: 1.9rem;
    --fs-p-reviews: 1.7rem;

    --ff: 'League Spartan', sans-serif;
    --fw-n: 300;
    --fw-m: 500;
    --fw-b: 700;

    
    --primary-clr-vdp: #512051;                     /* Very dark purple - heading, star review text and review comment BG*/
    --primary-clr-mp: #927B91;                      /* Medium purple - heading para*/
    --primary-clr-mrn: #EE69A4;                     /* Morone - "Verified Buyrer" text */
    --primary-accent: #F7F2F7;                      /* Soft violet - accent for star review BG and comment review name and para */
    
    /* Padding properties */
  --padd-phone: 3em 2.2em;
  --padd-ipad: 2em 3em;
  --padd-desktop: 2em 0; 
  }


/* General styles */

img {
    max-width: 100%;
}

.container {
    max-width: 100%;
    padding: var(--padd-phone);
}
/* General typography */
h1 {
    font-family: var(--ff);
    font-size: var(--fs-1-mobile);
    color: var(--primary-clr-vdp);
    font-weight: var(--fw-b);
    letter-spacing: -.1rem;
    line-height: .8;
}

p {
    font-family: var(--ff);
    font-size: var(--fs-p);
    font-weight: var(--fw-m);
    letter-spacing: -.05rem;
    line-height: 1.4;
}

/* Body and Main */
body {
    max-width: 100%;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}    

.background-img-top {
    position: absolute;
    top:0px;
    right:0px;
    bottom: 0%;
    left:0px;
    background-repeat: none;
}

.background-img-bottom {
    position: absolute;
    
    right:0px;
    bottom: 0%;
    
}

/* Hero section */
h1,
p,
.stars {
    text-align: center;
}

h1 {
    margin-bottom: .6em;
}
.hero__para {
    color: var(--primary-clr-mp);
    letter-spacing: -.05rem;
    line-height: 1.4;
    margin-bottom: 2em;
}

.star-reviews__box {
    background: var(--primary-accent);
    border-radius: 1em;
    margin-top: 1.5em;
    padding: 1.5em 0;
}

.star {
    margin: 0 .3rem 0 .3rem;
}

.star-reviews__para {
    color: var(--primary-clr-vdp);
    font-weight: var(--fw-b);
    margin-top: .5em;
}

/* Comment Review section */
.testimonials__box {
    background-color: var(--primary-clr-vdp);
    border-radius: .8em;
    margin-bottom: 1.5em;
    padding: 4em 3em;
}

.testimonials__profile {
    display: flex;
    margin-bottom: 2.5em;
}

.testimonials__profile-img {
    width: 5rem;
    border-radius: 50%;
    
}

.testimonials__profile-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2.5em;
    margin-bottom: 0;
}

.testimonials__profile-name {
    color: white;
    font-size: var(--fs-p-reviews);
    font-weight: var(--fw-b);
}

.testimonials__verified {
    color: var(--primary-clr-mrn);
    font-size: var(--fs-p-reviews);
}


.testimonials__para {
    color: white;
    font-size: var(--fs-p-reviews);
    text-align: start;
    /* line-height: 2.2rem; */
    letter-spacing: 0rem;
}



/* Attribution */
.attribution {
    position: absolute;
    bottom: 0%;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media (min-width: 600px) {
    /* General Styling */
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85%;
        padding: 0;
        margin-top: 3em;
    }

    /* Body and Main */
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    /* Hero section */
    .hero-container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    h1 {
        margin: 0;
        padding: 0;
        text-align: start;
    }
    .hero {
        width: 100%;
        padding: 0 1em;
    }

    .hero__para {
        margin-top: 1em;
        text-align: start;
    }

    .reviews {
        width: 100%;
        padding: 0 1em;
    }

    .box-1 {
        align-self: flex-start;
    }

    .box-2 {
        align-self: center;
    }

    .box-3 {
        align-self: flex-end;
    }

    /* Testimonials */
    .testimonials {
        display: flex;
        flex-direction: column;
    }
    .testimonials__box {
        width: 65%;
    }

    .t-box1 {
        align-self: flex-start;
    }

    .t-box2 {
        align-self: center;
    }

    .t-box3 {
        align-self: flex-end;
    }
  }

  
@media (min-width: 900px) {
    /* General style */
  

    /* General Typography */
    h1 {
        font-size: var(--fs-1-desk);
        width: 80%;
    }

    /* Body and Main */
    main {
        margin: 7% 3%;
    }
 

    /* Hero section */
    .hero__para {
        width: 83%;
    }
    .reviews {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-height: 25em;
    }

    .star-reviews__box {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
    }

    .box1 {
        align-self: flex-start;
    }

    .box2 {
        align-self: center;
    }

    .box3 {
        align-self: flex-end;
    }

    /* Testimonials */
    .testimonials {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-height: 33em;
    }

    .testimonials__box {
        width: 31%;
        margin: 0;
    }
}